:root {
  --light_green: #A1AE38;
  --dark_green: #1E3D2D;
  --green: #669173;
  --white_green: #b2ddbf;
}

::selection {
  color: var(--white_green);
  background: var(--dark_green);
}

body {
  text-align: center;
  background-color: var(--green);
  background-repeat: repeat;
  background-size: 100%;
}

#box, input, button, #no_inc {
  border: .1rem solid var(--dark_green);
  border-radius: .5rem;
  font-size: 1.7rem;
  font-family: 'Indie Flower', cursive;
}

/* BOX */
#box {
  display: inline-block;
  margin-top: 3rem;
  padding: 1rem;
  background-color: var(--light_green);
}

/* HEADER */
h1 {
  user-select: none;
  font-size: 5rem;
  margin: 0;
  color: var(--dark_green);
}

/* INPUT */
input {
  text-align: center;
  margin-bottom: 1.5rem;
  padding: .2rem;
  background-color: var(--white_green);
  color: var(--dark_green);
  outline: none;
  width: 15rem;
}

button {
  background-color: var(--green);
  color: var(--dark_green);
  padding: .1rem 1rem .1rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  border-color: var(--white_green);
  color: var(--white_green);
}

/* HABITS */
.habit {
  user-select: none;
  padding: 0 .5rem 0 .5rem;
  margin-bottom: .5rem;
  letter-spacing: .3rem;
  font-weight: bold;
}

#no_inc {
  background-color: var(--green);
  cursor: pointer;
}

#no_inc:active {
  border-color: var(--white_green);
  color: var(--white_green);
}
